body {
    padding-top: 2rem;
    background-color: #282c34;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
