body {
    background-color: #282c34;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    position: relative;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h6 {
    color: white;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
